{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    {% if is_granted('ROLE_ADMIN') %}
    <h3><a href="{{ path('app_new_client') }}">Ajouter un client</a></h3>
    {% endif %}
    <div class="d-flex flex-wrap">
    {% for item in client %}
        <tr>
            <div class="card border p-3 bg-light d-flex flex-wrap align-items-center m-2 justify-content-center" style="width: 25rem; ">
                <div class="card-body d-flex align-items-center">
                <a href ="{{ path('app_client_show_admin', { 'id': item.id })}}" class="card-text text-decoration-none">
                    <h5 class="card-title text-center">{{ item.company }}</h5>
                    <p class="card-text text-center">
                    <ul>
                    <li>{{ item.firstName }}</li>
                    <li>{{ item.lastName }}</li>
                    <li>{{ item.phoneNumber }}</li>
                    <li>{{ item.mail }}</li>
                    <li>{{ item.adress }}</li>
                    <li>{{ item.city }}</li>
                    </ul>
                    </p>
                </div>
                </a>
                <td><a href="{{ path('app_update_client', { 'id': item.id })}}">Mettre à jour</a></td>
                <td>{{ include('admin/client_delete.html.twig', { 'id': item.id })}}</td>
            </div>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun enregistrement</td>
        </tr>
    {% endfor %}
    </table>
    </div>
   <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour</a>
{% endblock %}