{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
   <section class="section-info-user">
    <div class="container  mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8"> <!-- Utilisez col-md-8 pour une largeur maximale de 600px sur les écrans moyens et plus petits -->
            
                <h2 class="text-center mb-4">{{ title }}</h2>
                {{ form_start(form, {'attr': {'class': 'mb-4 p-4 d-flex flex-column form-user align-items-center justify-content-center'}}) }}
                    {{ form_label(form.job, "Role de l'utilisateur", {'label_attr': {'class': 'mb-2'}}) }}
                    {{ form_widget(form.job, {'attr': {'class': 'w-75 p-2 my-3'}}) }}

                    <div class="text-center my-3"> <!-- Centrer le bouton d'envoi -->
                        <input type='submit' name='créer' class="button-nl">
                    </div>

                {{ form_end(form) }}
                 <a href="{{ path('app_user_list_admin') }}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}