<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenidosss{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block nav %}
                {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                    {% if (is_granted("ROLE_ADMIN")) %}
                        <a href="{{ path('app_home') }}">Admin dashboard</a>
                        <a href="{{ path('viewProjects') }}">Projets</a>
                        <a href="{{ path('profile') }}">Mon profil</a>
                        <a href="{{ path('logout') }}">Déconnexion</a>

                    {% else %}
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                        <a href="{{ path('profile') }}">Mon profil</a>
                        <a href="{{ path('logout') }}">Déconnexion</a>
                    {% endif %}
                {% endif %}

            {% endblock %}
        </header>
        {% block main %}{% endblock %}
    </body>
</html>
